#Review {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../assets/Reviews_Image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 280px;
    width: 100%;
}