#GenreSearchPage {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../assets/Genre_Image.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 100%;
}
#GenreSearchResults div:hover {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.55);
}